name: build

on:
  pull_request:
    types: [ closed ]

jobs:

  build:
    if: github.event.pull_request.merged == true
    name: Run Tests
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Build and Run Tests
        run: make generate-golang-schema build tests

  close_job:
    if: github.event.pull_request.merged == false
    runs-on: ubuntu-24.04
    steps:
      - run: |
          echo PR #${{ github.event.number }} has been closed without being merged

